---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Button from "../components/Button";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

interface BioograhyPage {
  contentTypeId: "16pQYId6ifiX4DuiakzfST";
  fields: {
    title: string;
    subTitle: string;
    heroBanner: {
      fields: {
        file: {
          url: string | undefined;
        };
      };
    };
    content: string;
  };
}

const entry = await contentfulClient.getEntry<BioograhyPage>(
  "16pQYId6ifiX4DuiakzfST"
);

let options = {
  renderNode: {
    "embedded-asset-block": (node: any) =>
      `<img alt="${
        node.data.target.fields.file.title
          ? node.data.target.fields.file.title
          : entry?.fields?.title
      }" class="w-full mb-6" src="${node.data.target.fields.file.url}"/>`,
  },
};

let bodyHTML = entry ? documentToHtmlString(entry.fields.content, options) : "";
---

<Layout title="Biography">
  <main>
    <HeroBanner
      title={entry?.fields?.title}
      description={entry?.fields?.subTitle}
      image={entry?.fields.heroBanner.fields.file?.url}
    />
    <section class="w-11/12 md:w-9/12 container mx-auto md:my-20 my-6">
      <div class="w-12/12">
        <Fragment set:html={bodyHTML} />
      </div>
    </section>

    <div class="bg-black height-96 mt-10 text-center mx-auto py-20">
      <Button target="_blank" href="https://onepagelink.com/rasjahknow">
        Download Press Kit
      </Button>
    </div>
  </main>
</Layout>

<style is:inline>
  ul {
    list-style-type: disc;
    padding: 0 0 0 35px;
    margin-top: 0;
    margin-bottom: 10px;
  }
</style>