---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import PressKit from "../components/PressKit.astro";

interface BioograhyPage {
  contentTypeId: "16pQYId6ifiX4DuiakzfST";
  fields: {
    title: string;
    subTitle: string;
    heroBanner: {
      fields: {
        file: {
          url: string | undefined;
        };
      };
    };
    content: string;
  };
}

const entry = await contentfulClient.getEntry<BioograhyPage>(
  "16pQYId6ifiX4DuiakzfST"
);

let options = {
  renderNode: {
    "embedded-asset-block": (node: any) => {
      const imageUrl = node.data.target.fields.file.url;
      const fullUrl = imageUrl?.startsWith('//') ? 'https:' + imageUrl : imageUrl;
      return `<img alt="${
        node.data.target.fields.file.title
          ? node.data.target.fields.file.title
          : entry?.fields?.title
      }" class="w-full mb-6" src="${fullUrl}"/>`;
    },
    "heading-2": (node: any, next: any) =>
      `<h2 class="text-xl md:text-2xl font-semibold mb-4 mt-8">${next(node.content)}</h2>`,
  },
};

let bodyHTML = entry ? documentToHtmlString(entry.fields.content, options) : "";
---

<Layout title="Biography">
    <HeroBanner
      title={entry?.fields?.title}
      description={entry?.fields?.subTitle}
      image={entry?.fields.heroBanner.fields.file?.url ? (entry.fields.heroBanner.fields.file.url.startsWith('//') ? 'https:' + entry.fields.heroBanner.fields.file.url : entry.fields.heroBanner.fields.file.url) + '?fm=avif' : ''}
    />
    <section class="w-11/12 md:w-9/12 container mx-auto md:my-20 my-6">
      <div class="w-12/12">
        <Fragment set:html={bodyHTML} />
      </div>
    </section>
    <PressKit />
   
</Layout>

<style is:inline>
  ul {
    list-style-type: disc;
    padding: 0 0 0 35px;
    margin-top: 0;
    margin-bottom: 10px;
  }
</style>